body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(90deg, rgb(124, 122, 171) 10%, rgb(74, 146, 116) 35%, rgb(0, 155, 186) 100%);
}

.stage {
    position:relative;
    width: 400px;
    height: 600px;
    border: 2px solid rgb(0, 197, 187);
    background-color: aqua;
    overflow: hidden;
    border-radius: 8%;
    box-shadow: 0 0 15px 15px rgb(0, 197, 187);
}

.basket {
    position: relative;
    bottom: 0px;
    width: 80px;
    height: 20px;
    background-color: rgb(130, 42, 42);
    left:120px;
    top:565px;
}

.ball {
    position: relative;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    top:0;
    left:180px;
    box-shadow: 0 0 5px 5px rgb(255, 67, 67);
}

.score {
    position: absolute;
    left:50%;
    top:10px;
    color: rgba(255, 255, 255, 0.633);
    font-size: large;
    font-style: bold;
    font-family: montserrat;
}
